{% extends 'base_layout.html' %}
{% block body_id %}recipes-list{% endblock %}
{% block body_class %}recipes-list-class{% endblock %}
{% block content %}
{% load static %}
<div class="recipes-list-container">
    <div class="category-menu">
        <ul>
            <li><a href="{% url 'recipes_combined:recipes_list' %}?category=chicken&recipe_kind=ar">Chicken AR</a></li>
            <li><a href="{% url 'recipes_combined:recipes_list' %}?category=beef&recipe_kind=epi">Beef EPI</a></li>
            <li><a href="{% url 'recipes_combined:recipes_list' %}?category=egg&recipe_kind=fn">Egg FN</a></li>
            <li><a href="{% url 'recipes_combined:recipes_list' %}?category=christmas&recipe_kind=ar">Christmas AR</a></li>
            <li><a href="{% url 'recipes_combined:recipes_list' %}?category=fish&recipe_kind=epi">Fish EPI</a></li>
            <li><a href="{% url 'recipes_combined:recipes_list' %}?category=grill&recipe_kind=fn">Grill FN</a></li>
        </ul>
    </div>
    <a href="{% url 'home_page' %}" class="back-button">Back to home page</a>
    <div class="search-section">
        <h1>Find Your Next Recipe</h1>
        <form class="search-field" method="get" action="{% url 'recipes_combined:recipes_list' %}">
            <input class="search-input" type="search" placeholder="Search recipes..." aria-label="Search" name="search"
                   value="{{ search_query }}">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
    <div id="recipe-list" class="recipe-grid">
        {% if no_recipes %}
        <p class="no-recipes-message">No recipes found. Try searching for something else!</p>
        {% else %}
        {% for recipe in page_obj.object_list %}
        <div class="recipe-card">
            <a href="{% url 'recipes_combined:recipe_details_with_path' recipe.recipe_id %}">
                <div class="recipe-card-details">
                    <h2 class="recipe-card-title">{{ recipe.title }}</h2>
                </div>
            </a>
            {% if user.is_authenticated %}
            <button class="favorite-button" data-recipe-id="{{ recipe.recipe_id }}" data-app-name="recipes_combined">
                <span class="material-icons">
                    {{ recipe.is_favorited|yesno:"favorite, favorite_border" }}
                </span>
            </button>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?search={{ search_query }}&category={{ category }}&recipe_kind={{ recipe_kind }}&page=1" class="pagination-link">1</a>
        <a href="?search={{ search_query }}&category={{ category }}&recipe_kind={{ recipe_kind }}&page={{ page_obj.previous_page_number }}"
           class="pagination-link">Prev</a>
        {% endif %}
        <span class="current-page">{{ page_obj.number }}</span>
        {% if page_obj.has_next %}
        <a href="?search={{ search_query }}&category={{ category }}&recipe_kind={{ recipe_kind }}&page={{ page_obj.next_page_number }}"
           class="pagination-link">Next</a>
        <a href="?search={{ search_query }}&category={{ category }}&recipe_kind={{ recipe_kind }}&page={{ page_obj.paginator.num_pages }}"
           class="pagination-link">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    </div>
</div>
<script>
    const csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'js/favorites_script.js' %}"></script>
{% endblock %}